n8n workflow/RAG-kanban-gmail.json
{
  "name": "RAG-kanban-gmail",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "simple": false,
        "filters": {
          "labelIds": [
            "INBOX",
            "UNREAD"
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        16,
        -112
      ],
      "id": "d2dd4b2a-1afb-43e8-8339-5716b441b80f",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "neaePNG4zADuTZDv",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash-lite",
        "options": {
          "temperature": 0,
          "topP": 1
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        704,
        64
      ],
      "id": "19ee4ab7-e451-440c-bc62-ec7320ac8b8b",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "Ca0T2mWhPJQ2nVbJ",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an AvanAI Operations AI Agent. Your role is to automatically classify and respond to business emails.\n\n## YOUR ROLE\n- Classify emails into 3 categories: RED (Urgent), BLUE (Information), GREY (Ignore)\n- Generate professional response drafts in AvanAI's brand voice\n- Extract actionable items and deadlines\n- Provide confidence scores for your decisions\n\n## CLASSIFICATION RULES\n\n### RED (URGENT) - Highest Priority\nEmails showing:\n- Forecast pressure or revenue impact\n- Operational failures or system downtime\n- C-suite/executive involvement (CEO, CTO, COO, CFO, etc.)\n- Time-sensitive decisions needed\n- Budget or resource constraints\n\n**For RED emails**: Populate next_action, extracted_deadline, and draft_response\n\n### BLUE (INFORMATION) - Standard Priority\nEmails that are:\n- Client inquiries or feedback\n- Team updates and announcements\n- Standard business communications\n- Process or documentation requests\n- Regular check-ins\n\n**For BLUE emails**: Populate summary_bullets and read_time. Keep next_action null.\n\n### GREY (IGNORE) - Low Priority\nEmails that are:\n- Marketing or promotional content\n- Newsletters or subscriptions\n- Automated notifications\n- Spam or irrelevant messages\n- Archive-able content\n\n**For GREY emails**: All fields can be null/empty\n\n## AVANAI BRAND VOICE GUIDELINES\n- **DO**: \"Based on your targets, here is the automation path forward...\"\n- **DO**: Focus on ROI, execution speed, measurable impact\n- **DO**: Use concrete numbers and timelines\n- **DON'T**: Say \"I am an AI assistant\" or \"How can I help?\"\n- **DON'T**: Use generic corporate phrases\n- **DO**: Sound like a business strategist, not a chatbot\n\n## CONTEXT AVAILABLE TO YOU\n- **Simple Vector Store**: Retrieve company context (KB files) when needed\n  - Use when email mentions products, services, technical details\n  - Apply AvanAI guidelines to draft responses\n- **Simple Memory**: Last 5 emails from this sender\n  - Understand communication history and patterns\n  - Maintain consistency across interactions\n\n## FEW-SHOT EXAMPLES\n\n### EXAMPLE 1: RED (URGENT)\nEmail:\nFrom: Sarah Chen <sarah.chen@acme.com>\nSubject: Q2 Forecast at Risk - Migration Delay\nDate: 2026-04-04\nBody:\nJohn, our database migration hit critical blockers. We're now 2 weeks behind and at risk of missing Q2 targets by $500K. CEO asked for status by EOD. Engineering estimates 5 days to recover. Need your decision on resource reallocation.\n\nEXPECTED RESPONSE:\n{\n  \"classification\": \"red_urgent\",\n  \"reasoning\": \"C-level pressure (CEO involved), clear revenue impact ($500K), time-sensitive decision required (EOD deadline), operational failure context.\",\n  \"summary_bullets\": null,\n  \"draft_response\": \"Based on your targets, here's the automation path forward: Immediate triage meeting with engineering lead in next 2 hours to validate 5-day recovery plan. Mobilize 2 additional engineers from staging team (5 FTE days impact contained vs. $500K forecast miss). Confirm resource availability by 3 PM, escalate to CFO with mitigation plan by 6 PM EOD. This unblocks CEO communication and keeps Q2 revenue on track.\",\n  \"next_action\": \"Schedule 2-hour triage meeting with engineering lead and validate recovery plan feasibility\",\n  \"extracted_deadline\": \"2026-04-04\",\n  \"read_time\": null,\n  \"confidence_score\": 0.98,\n  \"vector_store_used\": false\n}\n\n### EXAMPLE 2: BLUE (INFORMATION)\nEmail:\nFrom: Marcus Johnson <marcus.johnson@acme.com>\nSubject: Product Roadmap Update - April Sprint\nDate: 2026-04-04\nBody:\nTeam, attaching our April sprint roadmap. Key features: API v2 launch, dashboard redesign, bug fix for notification system. Expected completion: April 30. QA sign-off planned for April 25. Please review and feedback by April 10.\n\nEXPECTED RESPONSE:\n{\n  \"classification\": \"blue_info\",\n  \"reasoning\": \"Standard team communication with roadmap update, no urgent decisions or C-level involvement, regular sprint cycle communication.\",\n  \"summary_bullets\": [\n    \"April sprint includes API v2 launch, dashboard redesign, notification system bug fixes\",\n    \"QA sign-off scheduled for April 25 with full completion by April 30\",\n    \"Team feedback needed by April 10 for roadmap review\"\n  ],\n  \"draft_response\": null,\n  \"next_action\": null,\n  \"extracted_deadline\": null,\n  \"read_time\": \"2 min\",\n  \"confidence_score\": 0.92,\n  \"vector_store_used\": false\n}\n\n### EXAMPLE 3: GREY (IGNORE)\nEmail:\nFrom: newsletter@marketinghub.com\nSubject: Top 10 Sales Strategies for Q2 - Exclusive Guide\nDate: 2026-04-04\nBody:\nDiscover proven sales techniques! Our new guide reveals the secrets top performers use. Limited time offer - download now and get 20% off our premium courses. Unsubscribe here.\n\nEXPECTED RESPONSE:\n{\n  \"classification\": \"grey_ignore\",\n  \"reasoning\": \"Marketing promotional content with generic sales pitch and unsubscribe option, not relevant to AvanAI operations.\",\n  \"summary_bullets\": null,\n  \"draft_response\": null,\n  \"next_action\": null,\n  \"extracted_deadline\": null,\n  \"read_time\": null,\n  \"confidence_score\": 0.97,\n  \"vector_store_used\": false\n}\n\n## YOUR TASK\n\nAnalyze the email and respond ONLY in this JSON format:\n\nEmail:\nFrom: {{ $json.sender_name }} <{{ $json.sender_email }}>\nSubject: {{ $json.subject }}\nDate: {{ $json.date }}\nBody:\n{{ $json.body }}\n\n---\n\nGBNF JSON SCHEMA (STRICT OUTPUT FORMAT):\nroot   ::= object\nobject ::= \"{\" ws classification \",\" ws reasoning \",\" ws summary_bullets \",\" ws draft_response \",\" ws next_action \",\" ws extracted_deadline \",\" ws read_time \",\" ws confidence_score \",\" ws vector_store_used ws \"}\"\nws ::= (\" \" | \"\\n\" | \"\\t\")?\nclassification ::= \"\\\"classification\\\"\" ws \":\" ws (\"\\\"red_urgent\\\"\" | \"\\\"blue_info\\\"\" | \"\\\"grey_ignore\\\"\")\nreasoning ::= \"\\\"reasoning\\\"\" ws \":\" ws string\nsummary_bullets ::= \"\\\"summary_bullets\\\"\" ws \":\" ws (null | \"[\" ws bullet_list ws \"]\")\nbullet_list ::= string (ws \",\" ws string)* | \"\"\ndraft_response ::= \"\\\"draft_response\\\"\" ws \":\" ws (null | string)\nnext_action ::= \"\\\"next_action\\\"\" ws \":\" ws (null | string)\nextracted_deadline ::= \"\\\"extracted_deadline\\\"\" ws \":\" ws (null | date_format)\ndate_format ::= \"\\\"\" [0-9] [0-9] [0-9] [0-9] \"-\" [0-9] [0-9] \"-\" [0-9] [0-9] \"\\\"\"\nread_time ::= \"\\\"read_time\\\"\" ws \":\" ws (null | \"\\\"1 min\\\"\" | \"\\\"2 min\\\"\" | \"\\\"3 min\\\"\" | \"\\\"4 min\\\"\" | \"\\\"5 min\\\"\")\nconfidence_score ::= \"\\\"confidence_score\\\"\" ws \":\" ws number\nvector_store_used ::= \"\\\"vector_store_used\\\"\" ws \":\" ws boolean\nnull ::= \"null\"\nstring ::= \"\\\"\" (([^\\\"\\\\] | \\\\\\ ([\"\\\\ \"/bfnrt] | \"u\" [0-9a-fA-F] [0-9a-fA-F] [0-9a-fA-F] [0-9a-fA-F])) ) * \"\\\"\"\nnumber ::= (\"-\")? ([0-9] | [1-9] [0-9]*) (\".\" [0-9]+)? ([eE] [\"+\" \"-\"] [0-9]+)?\nboolean ::= \"true\" | \"false\"\n\nCRITICAL RULES:\n- Respond ONLY with valid JSON matching the GBNF schema above. No markdown, no explanation, no extra text.\n- confidence_score: 0.0-1.0 (0.85 = 85% confident). If < 0.7, classification MUST be \"grey_ignore\"\n- Date format MUST be YYYY-MM-DD exactly\n- \nFOR RED EMAILS:\n  - Always populate: next_action (specific first step), extracted_deadline (if mentioned), draft_response\n  - summary_bullets can be null\n  - read_time can be null\n\nFOR BLUE EMAILS:\n  - Always populate: summary_bullets (exactly 3 points), read_time (one of: \"1 min\", \"2 min\", \"3 min\", \"4 min\", \"5 min\")\n  - next_action MUST be null\n  - extracted_deadline MUST be null\n  - draft_response can be null\n\nFOR GREY EMAILS:\n  - All fields (summary_bullets, draft_response, next_action, read_time, extracted_deadline) MUST be null\n  - confidence_score likely high (0.95+)\n\nGENERAL RULES:\n- summary_bullets: Exactly 3 concise points as array of strings (only for BLUE or detailed RED), or null\n- draft_response: Use AvanAI brand voice (ROI-focused, strategic, not chatbot-like). Max 200 words. String or null.\n- next_action: Specific, concrete FIRST action. String or null.\n- extracted_deadline: YYYY-MM-DD format only, or null\n- read_time: Choose exact value from list only for BLUE emails, null for others\n- Use vector store when email mentions: products, services, technical details",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1136,
        -96
      ],
      "id": "a3ae64f9-ed40-43e8-88c1-23b74b40fca1",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Company's information",
        "memoryKey": {
          "__rl": true,
          "value": "company info",
          "mode": "list",
          "cachedResultName": "company info"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreInMemory",
      "typeVersion": 1.3,
      "position": [
        1312,
        144
      ],
      "id": "bfa5250f-a32e-4be8-a5ed-af5680cdce93",
      "name": "Simple Vector Store"
    },
    {
      "parameters": {
        "modelName": "models/gemini-embedding-001"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        1296,
        320
      ],
      "id": "018aab55-7145-446e-8865-46e4eedbe5d3",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "Ca0T2mWhPJQ2nVbJ",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "filter": {
          "driveId": {
            "mode": "list",
            "value": "My Drive"
          },
          "folderId": {
            "__rl": true,
            "value": "1_0i-5OGjht1fhs8tIRaBcdk0PjVoGHVa",
            "mode": "list",
            "cachedResultName": "avanai_knowledge_base",
            "cachedResultUrl": "https://drive.google.com/drive/folders/1_0i-5OGjht1fhs8tIRaBcdk0PjVoGHVa"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        208,
        912
      ],
      "id": "1fd49dcb-6621-432b-a12a-71e304650afb",
      "name": "Search files and folders",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "ouo7ejntsD50sPok",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        480,
        912
      ],
      "id": "657b4453-6c20-4885-8249-a59cb031db7e",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        800,
        912
      ],
      "id": "88bdd978-74d1-4a8c-83aa-c07e27755329",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "ouo7ejntsD50sPok",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "memoryKey": {
          "__rl": true,
          "value": "company info",
          "mode": "list"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreInMemory",
      "typeVersion": 1.3,
      "position": [
        1008,
        912
      ],
      "id": "744d4e3f-e387-476c-a641-38a94e2e1a66",
      "name": "Simple Vector Store1"
    },
    {
      "parameters": {
        "modelName": "models/gemini-embedding-001"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        976,
        1120
      ],
      "id": "d3730228-4019-4f8b-af45-022f52181de2",
      "name": "Embeddings Google Gemini1",
      "credentials": {
        "googlePalmApi": {
          "id": "Ca0T2mWhPJQ2nVbJ",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        1152,
        1120
      ],
      "id": "724c5869-0602-4260-b65f-86ed7bdee901",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:3000/api/cards",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "body": "={{ $node['Code in JavaScript1'].json }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2192,
        -96
      ],
      "id": "b51f6425-5254-4926-ad94-60a5677a89b2",
      "name": "HTTP Request - Create Card"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "a68ada3c-5d02-4902-b986-862a5f104905",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        1520,
        992
      ],
      "id": "0eff2fb6-5110-456a-bcd3-825f54158712",
      "name": "Webhook",
      "webhookId": "a68ada3c-5d02-4902-b986-862a5f104905"
    },
    {
      "parameters": {
        "jsCode": "const emailData = items[0].json.body;\n\nreturn {\n  json: {\n    to: emailData.sender_email,\n    subject: `Re: ${emailData.subject}`,\n    message: emailData.ai_draft,\n    sender_name: emailData.sender_name,\n    card_id: emailData.card_id\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1728,
        992
      ],
      "id": "a294940d-ad58-42f1-a1a8-c9fd5bc0388d",
      "name": "Code in JavaScript2"
    },
    {
      "parameters": {
        "sendTo": "={{ $json.to }}",
        "subject": "={{ $json.subject }}",
        "message": "={{ $json.message }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1936,
        992
      ],
      "id": "dbe6ff5e-0146-4f3a-9ade-c74f2fa8285d",
      "name": "Send a message",
      "webhookId": "5e6b9d34-5e09-42dd-be9e-0f4247e12eb0",
      "credentials": {
        "gmailOAuth2": {
          "id": "neaePNG4zADuTZDv",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const aiData = items[0].json;\n\n// Remove markdown formatting from output string\nlet outputString = aiData.output.toString();\noutputString = outputString.replace(/^```json\\s*/, '').replace(/\\s*```$/, '').replace(/\\n/g, '');\n\n// Parse the JSON\nconst parsedAI = JSON.parse(outputString);\n\n// Get classifier data\nconst classifierData = $('Code in JavaScript').first().json;\n\n// Clean sender info\nconst senderName = (classifierData.sender_name || '').replace(/^From:\\s*/, '').trim();\nconst senderEmail = classifierData.sender_email || 'Unknown';\nconst subject = (classifierData.subject || '').replace(/^Subject:\\s*/, '').trim();\n\n// Map classifications\nconst classificationMap = {\n  'red_urgent': 'Urgent',\n  'blue_info': 'Information',\n  'grey_ignore': 'Promotional'\n};\n\nconst classification = parsedAI.classification || 'grey_ignore';\nconst mappedCategory = classificationMap[classification] || 'Promotional';\n\n// Build final result\nconst result = {\n  json: {\n    id: `card_${Date.now()}_${Math.random().toString(36).substr(2, 9)}`,\n    sender_name: senderName,\n    sender_email: senderEmail,\n    subject: subject,\n    category: mappedCategory,\n    next_action: parsedAI.next_action || null,\n    deadline: parsedAI.extracted_deadline || null,\n    ai_draft: parsedAI.draft_response || null,\n    summary_bullets: Array.isArray(parsedAI.summary_bullets) ? parsedAI.summary_bullets.join(' | ') : null,\n    read_time: parsedAI.read_time || null,\n    board_section: 'todo',\n    created_at: new Date().toISOString(),\n    updated_at: new Date().toISOString()\n  }\n};\n\nreturn result;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1712,
        -96
      ],
      "id": "cf6ca27e-fc72-4eed-9d47-3dfd325106d5",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "operation": "markAsRead",
        "messageId": "={{ $node['Gmail Trigger'].json.id }}"
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1952,
        -96
      ],
      "id": "d1ede635-37c8-4460-9cf8-4ed31918c93d",
      "name": "Mark a message as read",
      "webhookId": "8f28c2ec-d888-4f6c-ad58-28a67bf7b413",
      "credentials": {
        "gmailOAuth2": {
          "id": "neaePNG4zADuTZDv",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        912
      ],
      "id": "6a2caf5b-c570-47e9-b0b4-c5cffd05c99b",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "content": " Just: sender, subject, body \n\n-> Minimize Number of Tokens",
        "height": 464,
        "width": 564,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -16,
        -336
      ],
      "id": "1cd3b75e-dc9d-4bd1-a854-66666133495d",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "inputText": "={{ $node['Code in JavaScript'].json.subject }}\n{{ $node['Code in JavaScript'].json.body }}",
        "categories": {
          "categories": [
            {
              "category": "SPAM",
              "description": "Marketing, newsletters, phishing"
            },
            {
              "category": "NOT_SPAM",
              "description": "Emails from known contacts with real names, specific personal details, legitimate deadlines/urgent matters, work communications, account services, meeting invites, specific action items"
            }
          ]
        },
        "options": {
          "systemPromptTemplate": "You are an email spam classifier. Analyze the email and classify it into one of these categories:\n\n1. SPAM: phishing attempts, suspicious links, lottery/prize claims, unsubscribe links\n\n2. NOT_SPAM: Legitimate work emails, personal emails from contacts, messages requiring your action, professional communications, account notifications from known services\n\nEmail to classify:\nSubject: {{ $node['Code in JavaScript'].json.subject }}\nBody: {{ $node['Code in JavaScript'].json.body }}\n\nClassify this email into one category. Be strict with spam detection.",
          "enableAutoFixing": true
        }
      },
      "type": "@n8n/n8n-nodes-langchain.textClassifier",
      "typeVersion": 1.1,
      "position": [
        640,
        -112
      ],
      "id": "59033fe2-7ef1-4dd0-be7d-56b9abd05965",
      "name": "Text Classifier"
    },
    {
      "parameters": {
        "content": "Early Decision Making\n\nSpam -> Don't send to AI Agent at all",
        "height": 560,
        "width": 400
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        576,
        -336
      ],
      "id": "d213f5d8-13e6-47e0-ac23-e5511124f455",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "jsCode": "const email = items[0].json;\n\nlet senderName = '';\nlet senderEmail = '';\n\n// Gmail sends 'from' as an object with .text property\nconst fromData = email.headers?.from;\n\nif (typeof fromData === 'object' && fromData?.text) {\n  // Use the .text property which has proper format: \"Name\" <email@example.com>\n  const fromMatch = fromData.text.match(/([^<]*)<([^>]*)>/);\n  \n  if (fromMatch) {\n    senderName = fromMatch[1].trim().replace(/^\"(.*)\"$/, '$1') || fromData.name || '';\n    senderEmail = fromMatch[2].trim();\n  } else {\n    // Fallback: use the name property\n    senderName = fromData.name || 'Unknown';\n    senderEmail = fromData.text || 'unknown@example.com';\n  }\n} else if (typeof fromData === 'string') {\n  // Fallback for string format\n  const fromMatch = fromData.match(/([^<]*)<([^>]*)>/);\n  if (fromMatch) {\n    senderName = fromMatch[1].trim();\n    senderEmail = fromMatch[2].trim();\n  } else {\n    senderEmail = fromData.trim();\n    senderName = senderEmail.split('@')[0];\n  }\n}\n\n// Remove \"From: \" prefix if present\nsenderName = senderName.replace(/^From:\\s*/, '').trim();\n\n// Get email body\nlet emailBody = '';\nif (email.bodyPlain) {\n  emailBody = email.bodyPlain;\n} else if (email.bodyHtml) {\n  emailBody = email.bodyHtml.replace(/<[^>]*>/g, '').trim();\n} else if (email.body) {\n  emailBody = typeof email.body === 'object' ? (email.body.plain || email.body.html || '') : email.body;\n} else if (email.text) {\n  emailBody = email.text;\n}\n\n// Clean up body\nemailBody = (emailBody || '')\n  .trim()\n  .slice(0, 2000)\n  .replace(/\\n\\n+/g, '\\n');\n\n// Get subject - Remove \"Subject: \" prefix if present\nlet subject = email.headers?.subject || email.subject || '(No Subject)';\nsubject = subject.replace(/^Subject:\\s*/, '').trim();\n\n// Handle encoded subject (UTF-8 Base64)\nif (subject.includes('=?UTF-8?B?')) {\n  try {\n    const parts = subject.match(/=\\?UTF-8\\?B\\?([^?]+)\\?=/g);\n    if (parts) {\n      parts.forEach(part => {\n        const base64 = part.replace(/=\\?UTF-8\\?B\\?|\\?=/g, '');\n        const decoded = Buffer.from(base64, 'base64').toString('utf-8');\n        subject = subject.replace(part, decoded);\n      });\n      subject = subject.replace(/\\s+/g, ' ').trim();\n    }\n  } catch (e) {\n    console.log('Could not decode subject, using as-is:', subject);\n  }\n}\n\n// Get message ID\nconst messageId = email.id || email.messageId || '';\n\n// Get date - Remove \"Date: \" prefix if present\nlet date = email.headers?.date || email.date || new Date().toISOString();\ndate = date.replace(/^Date:\\s*/, '').trim();\n\nreturn {\n  json: {\n    id: messageId,\n    messageId: messageId,\n    sender_name: senderName || 'Unknown',\n    sender_email: senderEmail || 'unknown@example.com',\n    subject: subject,\n    body: emailBody,\n    date: date,\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        176,
        -112
      ],
      "id": "b2da0a51-0324-4691-8fe3-893ac32a7767",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "content": "Chat + RAG + Memory\n\nRetrieves Company relevant docs -> Context aware responses",
        "height": 864,
        "width": 592,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        992,
        -336
      ],
      "id": "771c50c0-5456-4278-8b4c-33b68a0f33f5",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "Parse AI JSON output     --->       Map Fields    --->      Inbox clean up     --->   Request to Create card in DB",
        "height": 864,
        "width": 864,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1584,
        -320
      ],
      "id": "53960d45-7883-499c-9590-d2da5809159a",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "Receive from UI  ---> Format ---> Send via Gmail",
        "height": 464,
        "width": 736,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1440,
        720
      ],
      "id": "51f555a4-a83b-4b07-a208-7380128af460",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "Daily Schedule  ---> Find Company's Knowledge Base",
        "height": 384,
        "width": 400,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -48,
        736
      ],
      "id": "5a4e2e5b-c7fe-4d3c-b50e-c01037f3bd4b",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "For each file: \n\nDownload Content  +  Embed & Store in Vector DB",
        "height": 624,
        "width": 944,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        384,
        736
      ],
      "id": "98f6cb31-1f48-451e-b69b-b25fa4903c40",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1008,
        112
      ],
      "id": "c63e23af-512f-4e2b-8e29-ffdb574e0ea9",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "Ca0T2mWhPJQ2nVbJ",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "url": "http://localhost:3000/api/processed-emails/check",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "=messageId",
              "value": "={{ $json.messageId }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        48,
        304
      ],
      "id": "90366f9e-b6f9-404e-a713-780baee5a97b",
      "name": "Check Duplicate"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "6d18ad79-8035-4d1b-a28b-40ce68d48130",
              "leftValue": "={{ $json.isDuplicate }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        208,
        304
      ],
      "id": "9c0349c3-7314-4891-a10c-037431012eaf",
      "name": "Duplicate?"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:3000/api/processed-emails/record",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "body": "={{ $node['Code in JavaScript1'].json.id }},{{ $node['Code in JavaScript1'].json.sender_email }},{{ $node['Code in JavaScript1'].json.subject }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2496,
        -96
      ],
      "id": "9a7040af-b8a1-4c2b-beaf-431130f5b65e",
      "name": "Record processed"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.sender_email }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        1152,
        128
      ],
      "id": "1cc3d095-d19e-4a4c-ac03-ffda23854438",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "jsCode": "return {\n  sender_email: $node['Code in JavaScript'].json.sender_email,\n  sender_name: $node['Code in JavaScript'].json.sender_name,\n  subject: $node['Code in JavaScript'].json.subject,\n  body: $node['Code in JavaScript'].json.body,\n  date: $node['Code in JavaScript'].json.date,\n  messageId: $node['Code in JavaScript'].json.messageId,\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        416,
        304
      ],
      "id": "d0bcc87f-d6d9-43c4-908e-b0b1b9eaaa93",
      "name": "Code in JavaScript3"
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Text Classifier",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Vector Store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Simple Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Search files and folders": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Simple Vector Store1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini1": {
      "ai_embedding": [
        [
          {
            "node": "Simple Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Simple Vector Store1",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Simple Vector Store1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Code in JavaScript2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript2": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Mark a message as read",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark a message as read": {
      "main": [
        [
          {
            "node": "HTTP Request - Create Card",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Search files and folders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Text Classifier": {
      "main": [
        [],
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Check Duplicate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Check Duplicate": {
      "main": [
        [
          {
            "node": "Duplicate?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Duplicate?": {
      "main": [
        [],
        [
          {
            "node": "Code in JavaScript3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request - Create Card": {
      "main": [
        [
          {
            "node": "Record processed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript3": {
      "main": [
        [
          {
            "node": "Text Classifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "d3e99170-c12a-44aa-ac3d-e7a3c6f7bce1",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "611bbdfd1427034cc96bf1c5aa4db8d661e235351862cda76dc64379792cc772"
  },
  "id": "nQpEebBVfARLOXcf",
  "tags": []
}